<div fxFlex="1 1 700px" class="about-us-header" fxLayoutAlign=" center" fxLayout="column" fxLayoutGap="40px">
    <h1>About Us</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <button mat-flat-button class="about-us-header__btn">Read our blog</button>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="about-us-header__metrics">
        <div fxFlex="33" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px" class="br__enable">
            <h1>2015</h1>
            <p>FOUNDED</p>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px" class="br__enable">
            <h1>2000+</h1>
            <p>CLIENTS</p>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
            <h1>$150M</h1>
            <p>TRADED</p>
        </div>
    </div>
</div>
