<header>
  <nav>
    <div fxFlex="0 1 1140px" fxLayout="row" fxLayoutAlign="center center" class="nav">

      <div fxFlex="none">
        <a class="home-link" routerLink="">
          BTC TIMES
        </a>
      </div>
      <div fxFlex="none">
          <a class="btc-link" routerLink="/">
            BTC $10,398
          </a>
          <a class="btc-pro-link" routerLink="/">
            +4.72%
          </a>
          <button mat-button fxHide="false" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>
      </div>
      
      <div fxFlex class="text--right" fxShow="false" fxShow.gt-sm>
        <div class="news-dropdown">
            <button aria-label="news" mat-flat-button routerLink="/news">
              News<mat-icon class="icon__arrow-drop-down--white">arrow_drop_down</mat-icon>
            </button>
            <div class="news-dropdown-content" fxLayout="row wrap">
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Blockchain</a>
              </div>
              <div fxFlex="0 0 32"  fxLayoutAlign="start">
                  <a href="#">Dark Web</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Featured</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Bitcoin</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Mining</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Adoption</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Payments</a>
              </div>
              <div fxFlex="0 0 32" fxLayoutAlign="start">
                  <a href="#">Inversting</a>
              </div>
              <div fxFlex="0 0 32"  fxLayoutAlign="start">
                  <a href="#">Startup</a>
              </div>
              <div fxFlex="0 0 32"  fxLayoutAlign="start">
                  <a href="#">Scams</a>
              </div>
              <div fxFlex="0 0 32"  fxLayoutAlign="start">
                  <a href="#">Bitcoin</a>
              </div>
            </div>
        </div>
        <button aria-label="prices" mat-flat-button routerLink="/prices">
          Charts
        </button>
        <button aria-label="" mat-flat-button routerLink="/">
          Explorer
        </button>
        <button aria-label="" mat-flat-button routerLink="/faucet">
          Faucet
        </button>
        <button aria-label="" mat-flat-button routerLink="/advertise">
          Advertise
        </button>
        <button aria-label="" mat-flat-button routerLink="/press-release-submission">
          Press Releases
        </button>
      </div>
      <div fxFlex="none">
        <button aria-label="" class="subscribe-btn" mat-stroked-button>
          Subscribe
        </button>
      </div>
      <app-search-bar></app-search-bar>
    </div>
  </nav>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
    </mat-progress-bar>
  </section>
</header>
