<div fxFlex="1 1 1140px" class="careers-current-opening" fxLayoutGap="30px" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="careers-current-opening__header">
        <h1>Current Openings</h1>
        <div>
            <div class="selectdiv">
                <label>
                    <select>
                        <option selected>CITY</option>
                    </select>
                </label>
            </div>
            <div class="selectdiv">
                <label>
                    <select>
                        <option selected>TEAM</option>
                    </select>
                </label>
            </div>
            <div class="selectdiv">
                <label>
                    <select>
                        <option selected>SHIFT</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="1 0 47" class="flex--mrb30">
            <app-current-opening-item></app-current-opening-item>
        </div>
        <div fxFlex="1 0 47" class="flex--mrb30">
            <app-current-opening-item></app-current-opening-item>
        </div>
        <div fxFlex="1 0 47" class="flex--mrb30">
            <app-current-opening-item></app-current-opening-item>
        </div>
        <div fxFlex="1 0 47" class="flex--mrb30">
            <app-current-opening-item></app-current-opening-item>
        </div>
        <div fxFlex="1 0 47" class="flex--mrb30">
            <app-current-opening-item></app-current-opening-item>
        </div>
    </div>
</div>