@import "../../../shared/styles/fonts";
@import "../../../shared/styles/colors";

:host(app-advertise-ads) {
    background-color: $grey;

    .advertise-ads {
        margin: 50px auto 80px auto;

        h1 {
            font-size: 40px;
            font-family: $primary--font;
        }
    }
}