<h1 class="faucet-title">Faucet</h1>
<div fxLayout="row" class="faucet-page" fxLayoutGap="40px">
    <div fxFlex="50" class="faucet-page__section" fxLayoutGap="40px" fxLayout="column">
        <h2 class="faucet-page__section-title">Get BTC for free every day</h2>
        <p class="faucet-page__section-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
        <hr />
        <div>
            <p class="bit-address__label">Provide your Bitcoin Testnet address:</p>
            <input type="text">
        </div>
    </div>
    <div fxFlex="50" class="faucet-page__section faucet-page__section-right" fxLayoutGap="40px" fxLayout="column">
        <h2 class="faucet-page__section-title">Return coins</h2>
        <p class="faucet-page__section-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
        <hr />
        <div fxLayoutGap="40px" fxLayout="row">
            <div fxFlex="80">
                <p class="bit-our-address__title">Our address is:</p>
                <p class="bit-our-address">2321nn20n12n0320neeinwea0nsa0djnasjdnsajnd0ajn</p>
            </div>
            <div fxFlex="20">
                <img src="/assets/images/qr_image.png">
            </div>
        </div>
    </div>
</div>
<app-subscription></app-subscription>
