<div fxFlex="1 1 1140px"  class="about-team" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign=" center">
    <h1>Our Team</h1>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px" class="about-team__tab">
        <a class="team-btn active">Our team</a>
        <a class="team-btn">Our team</a>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="0 0 31" class="flex--mrb30">
            <app-about-team-item></app-about-team-item>
        </div>
        <div fxFlex="0 0 31" class="flex--mrb30">
            <app-about-team-item></app-about-team-item>
        </div>
        <div fxFlex="0 0 31" class="flex--mrb30">
            <app-about-team-item></app-about-team-item>
        </div>
        <div fxFlex="0 0 31" class="flex--mrb30">
            <app-about-team-item></app-about-team-item>
        </div>
        <div fxFlex="0 0 31" class="flex--mrb30">
            <app-about-team-item></app-about-team-item>
        </div>
    </div>
</div>