@import "../../shared/styles/colors";

mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}

.main-page{
  margin: 40px auto 40px auto;
  .main-board {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 20px;
  }
  app-featured-mini-view-item:not(:first-child){
    border-top: 1px solid $light-grey;
    padding-top: 20px;
  }
  .mini-view {
    height: 450px;
    overflow-y: scroll;
  }
  .mini-view::-webkit-scrollbar {
    width: 2px;
    height: 13px;
  }
  
  /* Track */
  .mini-view::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px grey; 
    border-radius: 4px; */
    background: $white;
    border-radius: 9px;
  }
  
  /* Handle */
  .mini-view::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 9px;
    width: 30px;
  }
  
  /* Handle on hover */
  .mini-view::-webkit-scrollbar-thumb:hover {
    background: #979698; 
  }

  .show-less__btn {
    width: 250px;
    border: 1px solid #808080;
    font-size: 13px;
    font-weight: 600;
  }
}
