@import "../../../shared/styles/fonts";
@import "../../../shared/styles/colors";

hr {
    border: 1px solid #fed265;
}

h1 {
    font-family: $primary--font;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
    font-weight: 600;
    color: #fed265;
}

.press-releases-section {
    p {
        padding-top: 20px;
        border-bottom: 1px solid $light-grey;
        font-size: 13px;
        height: 50px;
        line-height: 16px;
    }

    .press-more {
        padding-top: 14px;
        text-align: right;
        color: #fed265;
    }
}
