<div fxFlex="0 1 500px" fxLayout="column" fxLayoutGap="30px" class="advertise-promo-form">
    <h1>Advertise with us</h1>
    <div>
        <p>Full name</p>
        <input type="text" placeholder="Your Name" class="advertise-promo-form-input">
    </div>
    <div>
        <p>Company name</p>
        <input type="text" placeholder="Company name" class="advertise-promo-form-input">
    </div>
    <div>
        <p>Company website</p>
        <input type="text" placeholder="www.example.com" class="advertise-promo-form-input">
    </div>
    <div>
        <p>Contact email</p>
        <input type="text" placeholder="example@email.com" class="advertise-promo-form-input">
    </div>
    <button mat-flat-button class="side--sbumit__btn">Submit</button>
</div>
