@import "../../styles/fonts";
@import "../../styles/colors";

:host(app-advertise-promo-form) {
    h1 {
        font-size: 34px;
        font-family: $primary--font;
    }

    p {
        font-size: 14px;
    }

    input {
        width: 95%;
        border-radius: 5px;
        font-size: 16px;
        padding: 7px;
        border: 1px solid $light-grey;
        margin-top: 7px;
    }
    .side__sbumit__btn {
        width: 100%;
        background-color: $orange;
        font-size: 16px;
    }
}
