:host(app-post-card) {
    :hover {
        opacity: 0.7;
        cursor: pointer;
        transition: opacity .15s linear;
    }
    .post-img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    
    .post-card--mt20 {
        margin-top: 20px;
    }
}
