@import "../../styles/fonts";
@import "../../styles/colors";

:host(app-advertise-advantage) {

    .advertise-advantage {
        margin: 50px auto 60px auto;

        h1 {
            font-size: 40px;
            font-family: $primary--font;
        }
    }

    border-bottom: 1px solid $light-grey;
}