@import "../../shared/styles/mixins";

:host(app-careers-header) {
    background-color: $dark-grey;

    .careers-header {
        margin: 80px auto;

        h1 {
            font-size: 40px;
            font-family: $primary--font;
            font-weight: 600;
            color: $white;
        }

        p {
            font-size: 15px;
            color: $white;
            line-height: 24px;
            text-align: center;
        }

        &__btn {
            background-color: $orange;
            font-weight: bold;
        }
    }
}