<div fxFlex="1 1 1140px" fxLayout="column" fxLayoutGap="60px" class="about-sponsor">
    <h1>Our sponsors</h1>
    <div fxLayout="row" fxLayoutAlign="space-around">
        <img src="/assets/images/logo_google.png">
        <img src="/assets/images/logo_mailchimp.png">
        <img src="/assets/images/logo_google.png">
        <img src="/assets/images/logo_mailchimp.png">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
        <img src="/assets/images/logo_google.png">
        <img src="/assets/images/logo_mailchimp.png">
        <img src="/assets/images/logo_google.png">
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign=" center" class="about-sponsor__content">
            <img src="/assets/images/avatar.png">
            <h1>Lorem lipsum is the best way</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,.</p>
            <button mat-flat-button class="about-us-main__btn">Read our blog</button>
        </div>
        <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign=" center" class="about-sponsor__content about-sponsor__content-right">
            <img src="/assets/images/avatar.png">
            <h1>Lorem lipsum is the best way</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,.</p>
            <button mat-flat-button class="about-us-main__btn">Read our blog</button>
        </div>
    </div>
</div>