// Descriptive Colors
$white: #ffffff;
$grey: #f0f0f0; // for background and tag backgruond
$light-grey: #ececec; // for seperate horizontal line
$black: #141414; // main color of all font
$orange: #f4ca65; // button background and some color
// Functional Colors
$primary--color: $black;
$secondary--color: $white;
