<footer>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
       class.xs="footer-xs">
    <div fxFlex="25">
      <div class="footer-home-link">
        <a routerLink="/">
          BTC TIMES
        </a>
      </div>
      <p class="copyright-text"><span>© 1920 BTC TIMES. All rights are reserved.</span></p>
      <p></p>
      <p></p>
      <div class="terms-service">
        <p class="copyright-text">  
          <a routerLink="/">
            Commissioning terms
          </a>
        </p>
        <p class="copyright-text">  
          <a routerLink="/">
            Terms of Service
          </a>
        </p>
        <p class="copyright-text">  
          <a routerLink="/">
            Privacy Policy
          </a>
        </p>
      </div>
    </div>
    <div fxFlex="25">
      <p class="footer-links">
          Company
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          About us
        </a>
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          Careers
        </a>
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          Contact us
        </a>
      </p>
    </div>
    <div fxFlex="25">
      <p class="footer-links">
        Support
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          Help
        </a>
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          Advertising
        </a>
      </p>
      <p class="footer-sub-links">
        <a routerLink="/">
          Submissions
        </a>
      </p>
    </div>
    <div fxFlex="2 0 auto">
      <p class="footer-links">
        Stay in Touch
      </p>
      <p class="social-links">
        <a routerLink="/">
          <i class="fa fa-twitter"></i>
        </a>
        <a routerLink="/">
          <i class="fa fa-instagram"></i>
        </a>
        <a routerLink="/">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a routerLink="/">
          <i class="fa fa-linkedin"></i>
        </a>
        <a routerLink="/">
          <i class="fa fa-youtube-play"></i>
        </a>
      </p>
    </div>
    <!-- <div fxFlex="33" class="text--center">
      <lib-ngx-example-library></lib-ngx-example-library>
    </div> -->
    <!-- <div fxFlex class="text--right" class.xs="footer-xs">
      <a href="https://angular.io/" rel="noreferrer" target="_blank">
        <img alt="angular logo" src="/assets/images/angular.svg">
      </a>
    </div> -->
  </div>
</footer>
