@import "../../styles/mixins";

footer {
  padding: calculateRem(48px) calculateRem(256px);
  color: $secondary--color;
  background: $primary--color;
  margin-top: 2rem;
  position: sticky;
  top: 100%;

  img {
    width: 25%;
  }

  .footer-home-link {
    
    padding: calculateRem(12px) 0;
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(32px);
    }
  }

  .copyright-text {
    padding: calculateRem(12px) 0;
    span {
      font-size: calculateRem(14px);
    }
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(14px);
    }
  }

  .footer-links {
    padding: calculateRem(12px) 0;
    font-size: calculateRem(24px);
    text-transform: uppercase;
    
  }
  .footer-sub-links {
    padding: calculateRem(12px) 0;
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(16px);
    }
  }
  .social-links {
    padding: calculateRem(12px) 0;
    a {
      padding-right: calculateRem(12px);
    }
    i {
      font-size: 24px;
      color: white;
      border: 3px solid white;
      border-radius: 50%;
      padding: 10px 11px;
    }
    .fa-facebook-f {
      padding: 10px 14px !important;
    }
  }
}
@media (max-width: 1280px){
  :host(app-footer) {
    footer {
      padding: calculateRem(48px) calculateRem(16px);
    }
  }
}
.footer-xs {
  text-align: center;
  padding-top: 1rem;
}
