@import "../../styles/mixins";
@import "../../styles/fonts";

footer {
  padding: calculateRem(48px) calculateRem(16px);
  color: $secondary--color;
  background: $primary--color;
  position: sticky;
  top: 100%;

  .footer {
    margin: auto;
  }
  img {
    width: 25%;
  }

  .footer-home-link {
    
    padding: calculateRem(12px) 0;
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(34px);
      font-family: $primary--font;
      }
  }

  .copyright-text {
    padding: calculateRem(12px) 0;
    span {
      font-size: calculateRem(11px);
    }
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(12px);
    }
  }

  .footer-links {
    padding: calculateRem(16px) 0;
    font-size: calculateRem(16px);
    text-transform: uppercase;
    
  }
  .footer-sub-links {
    padding: calculateRem(16px) 0;
    a {
      color: white;
      text-decoration: none;
      font-size: calculateRem(14px);
    }
  }
  .social-links {
    padding: calculateRem(12px) 0;
    a {
      padding-right: calculateRem(12px);
    }
    i {
      font-size: calculateRem(18px);
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      padding: 5px 5px;
    }
    .fa-facebook-f {
      padding: 5px 8px !important;
    }
    .fa-youtube-play {
      padding: 5px 4px !important;
    }
    .fa-instagram {
      padding: 5px 6px !important;
    }
  }
}

.footer-xs {
  text-align: center;
  padding-top: 1rem;
}
