@import "../../styles/fonts";

.flex--mr30 {
    margin-right: 30px;
}

.flex--mr30:nth-child(even) {
    margin-right: 0px;
}

hr {
    border: 1px solid black;
}

h1 {
    font-family: $primary--font;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
    font-weight: 600;
}

