@import "../../styles/fonts";

.main-newsletter {
    height: 190px;
    background-image: url("/assets/images/or-tri.png");
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    padding: 0 40px;
    h1 {
        font-size: 50px;
        font-family: $primary--font;
    }

    h2 { 
        display: flex; 
        flex-direction: row;
        font-size: 18px;
        margin: 0;
        text-transform: uppercase;
    } 

    h2:before {
        content: ""; 
        flex: 1 1; 
        border-bottom: 2px solid #000; 
        margin: auto;
        margin-right: 10px;
    }
    h2:after { 
        content: ""; 
        flex: 1 1; 
        border-bottom: 2px solid #000; 
        margin: auto;
        margin-left: 10px;
    } 

    p {
        font-size: 18px;
        line-height: 1.7rem;
    }

    button {
        background-color: #fed265;
        font-size: 16px;
    }

    .newsletter-form--width {
        min-width: 310px;
        max-width: 310px;
        width: 100%;
    }

    .newsletter-mat-form--width {
        width: 100%
    }
}