<div fxLayout="row" class="main-newsletter" fxLayoutGap="40px" fxLayoutAlign="center center">
    <div fxFlex="none" fxLayout="column">
        <h1>BTC TIMES</h1>
        <h2>Newsletter</h2>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <form class="newsletter-form--width">
            <mat-form-field class="newsletter-mat-form--width">
                <input matInput placeholder="Email Address">
            </mat-form-field>
        </form>
        <button mat-flat-button>Sign up</button>
    </div>
</div>