@import "../../styles/fonts";
@import "../../styles/colors";

:host(app-advertise-advantage-item) {
    .advertise-ads-item {
        margin: 20px;

        h1 {
            font-size: 26px;
            font-family: $primary--font;
            margin-top: 10px;
        }
    
        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}