<div fxFlex="1 1 1140px" fxLayout="row" fxLayoutGap="40px" class="contact-us-main">
    <div fxFlex="66" fxLayout="column" fxLayoutGap="30px" class="contact-us-main-section">
        <h1>Send us a Message</h1>
        <div fxFlexLayout="row" fxLayoutGap="30px">
            <div fxFlex="50">
                <p class="contact-us-main-section__form-label">Full name</p>
                <input type="text">
            </div>
            <div fxFlex="50">
                <p class="contact-us-main-section__form-label">Your email</p>
                <input type="text">
            </div>
        </div>
        <div>
            <p class="contact-us-main-section__form-label">How we can help you?</p>
            <input type="text">
        </div>
        <div>
            <p class="contact-us-main-section__form-label">Your message</p>
            <input type="text">
        </div>
        <div fxLayoutAlign="end">
            <button mat-flat-button class="contact-us-main-section__form-submit">View jobs</button>
        </div>
    </div>
    <div fxFlex="33" fxLayout="column" fxLayoutGap="30px" class="contact-us-main-section mxh-85">
        <h1>Contact</h1>
        <p class="contact-us-main-section__info">
            <i class="fa fa-map-marker"></i>360 streat, New york
        </p>
        <p class="contact-us-main-section__info">
            <i class="fa fa-phone"></i>+000 123 41241 21313
        </p>
        <p class="contact-us-main-section__info">
            <i class="fa fa-envelope"></i>Findsocial@email.com
        </p>
        <p class="contact-us-main-section__social-text">CONNECT</p>
        <div class="contact-us-main-section__social-link">
            <a routerLink="/">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a routerLink="/">
                <i class="fa fa-instagram"></i>
            </a>
            <a routerLink="/">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>