@import "../../styles/mixins";
@import "../../styles/colors";

.icon__search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#search-input {
  margin-left: 20px;
  cursor: pointer;
}
