<div fxLayout="row" class="advertise-page" fxLayoutGap="30px" fxLayoutAlign="center">
    <div fxFlex="70">
        <app-advertise-promo></app-advertise-promo>
    </div>
    <div fxFlex="30" fxLayoutGap="40px" fxLayout="column">
        <app-advertise-promo-form></app-advertise-promo-form>
    </div>
</div>
<app-advertise-ads></app-advertise-ads>
<app-advertise-advantage></app-advertise-advantage>
<app-advertise-formats></app-advertise-formats>
<div fxLayout="row" class="advertise-promo-form">
    <div fxFlex="35"></div>
    <div fxFlex="30">
        <app-advertise-promo-form></app-advertise-promo-form>
    </div>
    <div fxFlex="35"></div>
</div>