<div fxFlex="0 1 1140px" fxLayout="column" fxLayoutAlign=" center" class="advertise-advantage">
    <h1>Lorem Ipsum</h1>
    <div fxLayout="row wrap">
        <div fxFlex="33">
            <app-advertise-advantage-item></app-advertise-advantage-item>
        </div>
        <div fxFlex="33">
            <app-advertise-advantage-item></app-advertise-advantage-item>
        </div>
        <div fxFlex="33">
            <app-advertise-advantage-item></app-advertise-advantage-item>
        </div>
    </div> 
</div>