<div fxFlex="0 1 600px" class="subscription" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="40px">
    <p class="subscription-title">BTC TIMES</p>
    <p class="subscription-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor</p>
    <div fxLayout="row" class="subscription-form">
        <input type="text" placeholder="Enter your email" class="subscription-form__input">
        <button mat-flat-button class="subscription-form__submit">Enter</button>
    </div>
</div>