@import "../../../shared/styles/mixins";

:host(app-subscription) {
    background-color: $grey;

    .subscription {
        margin: 80px auto;

        &-title {
            font-size: 24px;
            font-family: $primary--font;
            font-weight: bold;
        }

        &-content {
            font-size: 14px;
        }

        &-form {
            width: 60%;
            padding: 5px;
            border-radius: 5px;
            background-color: $white;

            &__input {
                width: 100%;
                font-size: 16px;
                padding: 0px 14px;
                border: none;
                max-width: fill-available;
                max-width: -webkit-fill-available;
                max-width: -moz-available;
            }

            &__submit {
                border-radius: 0 5px 5px 0;
                font-size: 16px;
                padding: 0px 25px;
                border: 1px solid $light-grey;
                max-width: fill-available;
                max-width: -webkit-fill-available;
                max-width: -moz-available;
                min-width: auto;
                background-color: $orange;
            }
        }
    }
}
